<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="d:/temp/PaginatedReportUpdate.txt" />
    <add key="ClientId" value="2499f92a-43a8-4537-9c73-4c9261d1e63b" />
    <add key="TenantId" value="68493eae-0987-45ec-8dae-febbe92bc262" />
    <add key="workspaceName" value="MigratedReportADV17" />
    <add key="ServerName" value="sqlcsademocl.database.windows.net" />
    <add key="SqlUserName" value="sqladmin" />
    <add key="SqlUserPassword" value="LS1setup!@123" />
  </appSettings>
</configuration>